body {
    font-family: 'Courier New', Courier, monospace;
}

h1, div {
    display: flex;
    justify-content: space-evenly;
}

.addBtn {
    height: 30px;
    width: 200px;
    color: white;
    background-color: green;
    align-items: center;
}

.addBtn:hover {
    background-color: rgb(66, 163, 66);
    cursor: pointer;
}